#app{
	background-color: var(--shape-background);
	width: 100vw;
	height: 100vh;

}

.div-fix{
	display: flex;
	flex-direction: column;
	position: fixed;
	background-image: url(/assets/images/Background.png);
	background-repeat: no-repeat;
	grid-column: 1/2;
	width: 25rem;
	height: 45.5rem;
	background-size: contain;
	border-radius: 0.75rem ;
	margin: 1.25rem;

	& img{
		width: 2.86rem;
		height: 3rem;
		margin-left: 2rem;
		margin-block: 2rem 1rem ;
	}
	& h1{
		font: var(--logo);
		color: var(--pink);
		margin-left: 2rem;
		margin-bottom: 0.25rem;
	}
	& p{
		font: var(--body-md);
		color: var(--text-heading);
		margin-left: 2rem;
	}

}