

#app{
	background-color: var(--shape-background);
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;

}
.div-anchor{
	border-radius: 0.75rem;
	margin-right: 2rem;
	width: 25rem;
	height: 45.5rem;


  & .div-fix{
	position:fixed;
	display: flex;
	flex-direction: column;
	background-image: url(../../assets/images/Background.png);
	background-repeat: no-repeat;
	width: 25rem;
	height: 45.5rem;
	background-size: contain;
	border-radius: 0.75rem;
	margin: 2rem;

	& img{
		width: 2.86rem;
		height: 3rem;
		margin-left: 2rem;
		margin-block: 2rem 1rem ;
	}
	& h1{
		font: var(--logo);
		color: var(--pink);
		margin-left: 2rem;
		margin-bottom: 0.25rem;
	}
	& p{
		font: var(--body-md);
		color: var(--text-heading);
		margin-left: 2rem;
	}

}
}

.form{
	margin: 2rem;
	background-color: var(--shape-body);
	padding: 2rem;
	border-radius: 0.75rem;
	width: 40rem;

}

.container-datetime{
	grid-template-columns: 47% 50%;
	column-gap: 1rem;

}

.optional-colors{
	grid-auto-flow: column;
	margin-block:1rem 1.75rem;

	& input[type="radio"]{
	width: 2.125rem;
	height: 2.125rem;
	z-index: 1;
	opacity: 0;
	cursor: pointer;



}}
	
.colours{
	position: absolute;
	left: 0;
	border: 0.3125rem solid var(--shape-button);
	border-radius: 6.1875rem;

}

input[type="radio"]:hover + .colours {
  border-color: var(--shape-hover); 
  transform: scale(1.1); 

}

input[type="radio"]:checked + .colours {
 outline: 2px solid var(--brand-light); 

}
.theme-option	{
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem; 
	margin-block: 1.25rem 1.75rem;
}

.theme-wrapper{
	display: grid;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  gap: 0.25rem;
	width: 8.37rem;
	height: 6.43rem;
	border-radius: 0.5rem;
	border: 0.1875rem solid var(--input-stroke);
	background-color: var(--shape-button);
	cursor: pointer;

			
		& input[type="radio"]{
			position: absolute;
			opacity: 0;
			visibility: hidden;

			}
	
}
		
.theme-wrapper:hover {
	border-color: var(--shape-hover); 
	transform: scale(1.1); 
		
}
.theme-wrapper:has(input[type="radio"]:checked) {
	outline: 0.1875rem solid var(--brand-light);
}

input[type="text"]{
	padding-inline: 1rem;
	color: var(--text-body);
	border: 2px solid var(--input-stroke);
	border-radius: 0.5rem;
	width: 100%;
	height: 3rem;
	margin-block: 0.75rem 1rem;
	font: var(--input-text);
	background-color: var(--input-base);

}

textarea{
	padding-inline: 1rem;
	color: var(--text-body);
	border: 2px solid var(--input-stroke);
	border-radius: 0.5rem;
	width: 36rem;
	height: 15rem;
	margin-block: 0.75rem 1rem;
	font: var(--input-text);
	padding: 0.40rem 1rem; /* Aumentando o padding-top */
	line-height: 3;
	background-color: var(--input-base);


}

input:focus,
textarea:focus{
	border: none;
	outline: 2px solid var(--brand-mid);
	border-radius: 0.5rem;
}


.relative{
	position: relative;
}
.cover-photo{
	position: absolute;
	display: flex;
	width: 7.90rem ;
	height: 2.5rem ;
	border: 2px solid var(--input-stroke);
	background-color: var(--shape-button);
	border-radius: 0.5rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-top: 0.75rem;
	z-index: 999;

		& img{
				width: 1rem ;
				height: 1rem ;

		}
		& p{
				padding: 0.65rem 0.75rem 0.65rem  0.5rem;
				display: inline;
		}
}

#input-photo{
	position: absolute;
	top: 2.56rem;
	left: 0.43rem;
	font:var(--body-sm);
	color:var(--input-placeholder);
	
}
		

.cover-photo:hover{
	border: 2px solid var(--input-placeholder);
}

.checkbox-options{
	display: grid;
	grid-template-columns: 5% 95% ;
	row-gap: 0.25rem;
	padding-block: 2.5rem;
	border-top: 2px solid var(--input-stroke);

		& input[type="checkbox" ]{
				position: relative;
				appearance: none; /* Remove a aparência padrão */
				-webkit-appearance: none;/* Para compatibilidade com Safari */
				-moz-appearance: none;/* Para compatibilidade com Firefox */
				width: 1.25rem;
				height: 1.25rem;
				border: 2px solid var(--input-stroke);
				border-radius: 4px;
				background-color: var(--input-base);
				margin-right: 0.5px;

		}
		& label{
				display: inline;
		}

		& a{
				text-decoration: none;
				color:var(--brand-light);
		}
	}
input[type="checkbox"]:checked::after{
	position: absolute;
	content: "";
	width: 1.25rem;
	height: 1.25rem;
	background-image:url(../../assets/icons/check-blue.svg);
	background-repeat: no-repeat;
	background-position: center ;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	}


.button-generate-invitation{
	justify-content: end;
	margin-block: 2.5rem;
}

.button-submit{
	display: flex;
	gap: 0.75rem;
	justify-content: center;
	align-items: center;
	width: 11.06rem;
	height: 3rem;
	border-radius: 0.5rem;
	background-color: var(--brand-dark);
	border: 0.18rem solid var(--input-placeholder);
	font: var(--body-md);
	color:var(--text-heading);
	cursor: pointer;
}

.style{
	grid-template-columns:  40% 60%;
	grid-auto-flow: column;
	position: relative;

}

.toggle-style{
	position: relative;
	display: grid;
	grid-template-columns:  50% 50%;
	margin-block: 0.75rem 1rem;
	width: 4rem;
	height: 2rem;
	border: 2px solid var(--input-stroke);
	border-radius: 999px;
	background-color: var(--input-base);

	& input[type="radio"]{
		opacity: 0;
		z-index: 999;
		cursor: pointer;
		appearance: none;
	}
	p{
		position: absolute;
		left: 4.33rem;
    bottom: 0.43rem;

	}

}

.toggle{
	position: absolute;
	width: 1.7rem;
	height: 1.7rem;
	border-radius: 999px;
	background-color: var(--input-stroke);
	bottom: 1px;
	left: 1px;
	transition: left 0.5s ease-in-out;
	
}

/* Move o botão quando o #dark-style está marcado */
input#dark-style:checked ~ .toggle {
	left: calc(100% - 1.8rem);
	background-color: white;
	border:none;

}

.style:has(#dark-style:checked) .toggle-style {
	background-color: var(--brand-light);
	& .d-appearance{
		display: none;
		
	}


}
.style:has(#clear-style:checked) .toggle-style {
	& .d-none{
		display: none;
	}

}
.button-submit:hover{
	cursor: pointer;
	box-shadow: 0px 0px 0.68rem 0.18rem #ada9a936;
}
	

