.d-grid{
	display: grid;
}
.d-flex{
	display: flex;
}

.header-text-md{
	font: var(--heading-md);
	color: var(--text-heading);
	display: block;
}

.header-text-sm{
	display: flex;
	font:var(--heading-sm);
	color: var(--text-heading);
	margin-block: 2.5rem 1.62rem;

		& img{
			margin-right: 0.75rem;
			width: 1.5rem;
			height: 1.5rem;
	
		}

}

.body-text-sm{
	font: var(--body-sm);
	color: var(--text-body);
	display: block;

}

.text-label{
	font:var(--label-sm);
	color: var(--input-placeholder);
}


::placeholder{
font: var(--body-md);
color: var(--input-placeholder);
}

.fieldset-container{
	margin-block: 2.625rem;
	text-decoration: none;
	border: none;
}

.radio-wrapper{
	display: flex;
	position: relative;

}

