.d-grid{
	display: grid;
}
.d-flex{
	display: flex;
}

.header-text-md{
	font: var(--heading-md);
	color: var(--text-heading);
	display: block;
}

.header-text-sm{
	display: flex;
	font:var(--heading-sm);
	color: var(--text-heading);
	margin-block: 2.5rem 1.62rem;

		& img{
			margin-right: 0.75rem;
			width: 1.5rem;
			height: 1.5rem;
	
		}

}

.body-text-sm{
	font: var(--body-sm);
	color: var(--text-body);
	display: block;

}

.text-label{
	font:var(--label-sm);
	color: var(--input-placeholder);
}


::placeholder{
	color: var(--input-placeholder);
	font: var(--input-text);
	
}

.fieldset-container{
	margin-block: 2.625rem;
	text-decoration: none;
	border: none;
}

.radio-wrapper{
	display: flex;
	position: relative;

}

.toggle-wrapper{
	grid-auto-flow: column;
	width: 17rem;
	height: 3rem;
	border: 2px solid var(--input-stroke);
	background-color: var(--input-base);
	border-radius:0.5rem;
	margin-block: 0.75rem 1rem;
	position: relative;
	grid-template-columns: repeat(2, 50%);


		& img{
			width: 1rem;
			height: 1rem;
			margin-right: 0.260rem;
		}

		& input[type="radio"]{
			opacity: 0;
			visibility: hidden;
			position: absolute;
		}
		
		& label{
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 999;
			cursor: pointer;

		}
}

.toggle-slider{
	width: 8.0625rem;
	height: 2.5rem;
	position: absolute;
	border-radius: 0.5rem;
	border: 2px solid var(--input-stroke);
	background-color: var(--shape-button);
	bottom: 0.125rem;
	left: 0.125rem;
	margin-inline:0.125rem;
	transition: left 0.3s ease-in-out;
}

.toggle-wrapper:has(#on-line:checked) .toggle-slider {
	left: 50.5%;
	background-color: var(--brand-mid);
	color: white;

}
.toggle-wrapper:has(#in-person:checked) .button-in-person{
	color: white;
	
}

.toggle-wrapper:has(#on-line:checked) .button-online{
	color: white;
	
}

.toggle-wrapper:has(#in-person:checked) .toggle-slider {
	left: 0;
	background-color: var(--brand-mid);
	color: white;
}